// 1.只能使用 ES5语法 2.wx. api不能用

var touchStartX

function handleTouchstart(event) {
	console.log(event)
	//	数据绑定，记录触摸开始的x轴的位置
	touchStart = event.changedTouches[0].clientX
}

function handleTouchend(event) {
	var touchEndX = event.changedTouches[0].clientX
	// 负数代表手指向左滑，正数代表手指向右滑动
	var distance = touchEndX - touchStartX
	// -1：后退（向右滑动）；0：不动；1：前进（向左滑动）
	var direction = 0
	// 向左滑动 前进
	if (distance < 0 && distance < -70) {
		direction = 1
	}
	if (distance > 0 && distance > 70) {
		direction = -1
	}
	
	if (direction !== 0) {
		//	1.触发事件 2.直接调用引用该 wxs 的页面或者组件的方法
	}
	
	console.log(event)
	//	把结束时x轴的位置 - 触摸开始时的位置
	//	做判断，判断是往左划还是往右划
	//	做数据绑定，改变currentTabIndex的值
}